:root {
  --lt-red: #ff7272;
  --sft-blue: #88bbe4;
  --lt-grey: #ccc;
  --dk-grey: #32363d;
  --md-grey: #838282;
  /* --main-font-family: "Nunito Sans", sans-serif; */

  /* *** Toast Overrides *** */
  --toastify-color-info: #91d0fa;
  --toastify-color-success: #4affc3;
  --toastify-color-warning: #f5e7b2;
  --toastify-color-error: var(--lt-red);

  --toastify-text-color-info: #183c47;
  --toastify-text-color-success: #1b5c46;
  --toastify-text-color-warning: #9e7f29;
  --toastify-text-color-error: #571414;
}
* {
  box-sizing: border-box;
}

.disabled-link {
  pointer-events: none;
}

.color-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-item {
  width: 50px;
  height: 50px;
  margin: 5px;
}
/*********** Baseline, reset styles ***********/
input[type="range"]:not(.showSpinner) {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 6rem;
}
input:not(.showSpinner)::-webkit-outer-spin-button,
input:not(.showSpinner)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.showspinner::-webkit-outer-spin-button {
  -webkit-appearance: inherit;
}

.butt {
  color: green;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--sft-blue);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

/* input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid #808080;
  outline-offset: 0.125rem;
} */

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--sft-blue);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}
input[type="range"]::-webkit-slider-runnable-track {
  transition: background-color 1s;
}
.slide-disabled::-webkit-slider-runnable-track {
  background-color: var(--lt-grey) !important;
}
.slide-disabled-fr::-webkit-slider-runnable-track {
  background-color: #eee !important;
}
.slider-Damaged::-webkit-slider-runnable-track {
  background-color: var(--lt-red) !important;
}
.slider-Used::-webkit-slider-runnable-track {
  background-color: #cecf95 !important;
}

/* input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
} */

.Toastify__close-button {
  color: var(--dk-grey);
}
.even-nums {
  /* font-variant-numeric: tabular-nums; */
  white-space: pre;
  font-family: "Courier New", Courier, monospace;
}

ul,
ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.patreon {
  fill: var(--lt-red);
}
#terms > div,
#privacy > li,
.about-ul > li {
  margin-top: 0.2em;
  margin-bottom: 1.5em;
}
.about-ul > li {
  font-size: 0.9em;
  margin-left: 1em;
  list-style-type: disc;
}

#terms > li {
  font-weight: bold;
}
.about-ul > li > span {
  font-weight: bold;
}
.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
  color: var(--dk-grey);
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  /* color: var(--dk-grey); */
}
html,
body {
  width: 100%;
  height: 100%;
}
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: lexend;
  src: url(/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}
body {
  background-color: azure;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  font-family: "lexend", "Tahoma", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.text-logo {
  font-size: 2em;
  margin-left: 0.5em;
}
.lt-grey {
  color: #fff !important;
}
.text-logo > a > span {
  color: var(--lt-grey);
}
.text-logo > a > .lt-red {
  color: var(--lt-red);
}
.qpart-color-dropdown {
  width: 20rem;
  padding: 0.2em;
}
.qpart-dropdown-btn {
  width: 20rem;
  padding: 0.2em;
  background-color: white;
  display: flex;
  border: solid 1px var(--lt-grey);
}

.qpart-dropdown {
  position: absolute;
  max-height: 15em;
  min-width: 20rem;
  overflow-y: auto;
  background-color: white;
  border-radius: 0.25em;
  filter: drop-shadow(0px 0px 3px #00000050);
}
.qpart-dd-row {
  display: flex;
  border-bottom: solid 1px var(--lt-grey);
}
.qpart-dd-row-swatch {
  width: 0.75em;
  margin-right: 0.2em;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: var(--dk-grey);
  width: 100%;
  height: 4rem;
  min-height: 4rem;
}
.navbar > div {
  display: flex;
  align-items: center;
}
.main-searchbar {
  background-color: transparent;
  color: var(--lt-grey);
  width: 60%;
  padding: 0.2em 0.75em;
  border: solid 2px var(--lt-grey);
  border-radius: 0.5em;
}
.logo {
  display: block;
  aspect-ratio: 1 / 1;
  height: 70%;
  padding-left: 1em;
}
.mail-svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  aspect-ratio: 1 / 1;
  height: 70%;
}
.mail-badge {
  min-width: 1.5em;
  text-align: center;
  font-size: 0.8em;
  padding: 0.15em 0.25em 0.15em 0.15em;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--lt-red);
  color: white;
  border-radius: 1em;
  text-shadow: #2c2c2c 1px 1px 0;
}
.pfp-big-container {
  position: relative;
  border-radius: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.yellow-border {
  position: absolute;
  top: 0;
  z-index: 1;
  border: solid 5px rgb(255, 208, 0);
  width: 100%;
  border-radius: 50%;
  height: 100%;
  animation: blink 2s infinite; /* Adjust the duration as needed */
}
.black-txt {
  color: black;
}

.info-box {
  border: solid 1px var(--dk-grey);
  border-radius: 0.5em;
  padding: 0.5em;
  width: 90%;
}
.pfp-warning {
  background-color: orange;
  font-size: 0.9em;
  border-radius: 6px;
  padding: 0.25em;
}
.profile-img-big {
  display: block;
  aspect-ratio: 1 / 1;
  width: 6em;
  border: solid 1px var(--md-grey);
  border-radius: 50%;
}
.profile-img {
  display: block;
  aspect-ratio: 1 / 1;
  width: 3em;
  margin: 0 1em 0 0.5em;
  border-radius: 50%;
}

.pfp-camera {
  aspect-ratio: 1 / 1;
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  height: 2em;
  width: 2em;
  padding: 5px;
  background-color: azure;
  border-radius: 50%;
  border: solid 1px var(--md-grey);
}

small {
  color: var(--md-grey);
  margin-bottom: 1em;
}

.image-edit-image-container {
  margin-top: 3em;
  max-height: 20em;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-edit-image-container img {
  width: auto;
  height: 100%;
}
.tab-images,
.tab-sculp {
  overflow-y: auto;
  max-height: 60em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  padding-bottom: 0;
}
.tab-images > div {
  border: solid 1px var(--lt-grey);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 0.5em;
}
.tab-images > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ui-space-out {
  display: flex;
  flex-direction: column;
}
.ui-space-out > div {
  display: flex;
  justify-content: space-between;
}
.bi-envelope-fill {
  margin: 0 auto;
  display: block;
}
.main-container {
  display: flex;
  width: 100%;
}
.padded-container {
  width: 100%;
  padding: 3em;
}
.page-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-content {
  max-width: 80rem;
  margin: 3em 0;
}
.page-content-wide {
  display: flex;
  width: 100%;
  max-width: 120rem;
  margin: 3em 0;
}
.page-content-wide2 {
  display: flex;
  width: 80%;
  max-width: 120rem;
  margin: 3em 0;
}
.left-col {
  display: inline-block;
  background-color: rgb(215, 229, 229);
  border-right: solid 1px var(--lt-grey);
  width: 15%;
  height: 100%;
}
.right-col {
  padding: 2em;
  display: inline-block;
  background-color: azure;
  flex-grow: 1;
  height: 100%;
}
.element-image {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  width: 20rem;
  border: solid 1px var(--lt-grey);
  padding: 0.25em;
}
.element-image > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.breadcrumb {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumb > li {
  color: rgb(69, 194, 194);
  display: inline-block;
  text-decoration: none;
}
.element-name {
  font-size: 2rem;
  margin-bottom: 0.2em;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.rating {
  color: white;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  height: 6.5em;
}
.Not-Rated {
  border-bottom: solid 1px rgb(163, 163, 163);
  background: rgb(163, 163, 163);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(163, 163, 163)
  );
}
.Not-Rated-bottom {
  color: rgb(163, 163, 163);
  border: solid 1px rgb(163, 163, 163);
}
.Common {
  border-bottom: solid 1px rgb(167, 195, 228);
  background: rgb(167, 195, 228);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(167, 195, 228)
  );
}
.allColorStatus {
  height: 30em;
  overflow-y: auto;
}

.qpotd {
  background-color: var(--dk-grey);
  color: var(--lt-grey);
  text-align: center;
  padding: 0.2em 0;
  border-radius: 0.5em 0.5em 0 0;
}
.Common-bottom {
  color: rgb(167, 195, 228);
  border: solid 1px rgb(167, 195, 228);
}
.Uncommon {
  border-bottom: solid 1px rgb(135, 224, 180);
  background: rgb(135, 224, 180);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(135, 224, 180)
  );
}
.Uncommon-bottom {
  color: rgb(135, 224, 180);
  border: solid 1px rgb(135, 224, 180);
}
.Rare {
  border-bottom: solid 1px rgb(233, 173, 94);
  background: rgb(233, 173, 94);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(233, 173, 94));
}
.Rare-bottom {
  color: rgb(233, 173, 94);
  border: solid 1px rgb(233, 173, 94);
}
.Exceptional {
  border-bottom: solid 1px rgb(189, 124, 209);
  background: rgb(189, 124, 209);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(189, 124, 209)
  );
}
.Exceptional-bottom {
  color: rgb(189, 124, 209);
  border: solid 1px rgb(189, 124, 209);
}

.Legendary {
  border-bottom: solid 1px rgb(233, 202, 101);
  background: rgb(233, 202, 101);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(233, 202, 101)
  );
}
.Legendary-bottom {
  color: rgb(233, 202, 101);
  border: solid 1px rgb(233, 202, 101);
}
.Elusive {
  border-bottom: solid 1px rgb(223, 87, 189);
  background: rgb(223, 87, 189);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(223, 87, 189));
}
.Elusive-bottom {
  color: rgb(223, 87, 189);
  border: solid 1px rgb(223, 87, 189);
}
.Unobtainable {
  border-bottom: solid 1px #ef7171;
  background: rgb(255, 159, 159);
  background: radial-gradient(circle, rgb(255, 216, 216) 0%, var(--lt-red));
}
.Unobtainable-bottom {
  color: var(--lt-red);
  border: solid 1px var(--lt-red);
}

.rating-score {
  font-size: 2.8rem;
  height: 75%;
  text-align: center;

  color: white;
  background-position: 0px 0px;
  /* padding-left: 1em; */

  text-shadow: #2c2c2c 1px 1px 0;
  /* border-radius: 0.25em 0.25em 0 0; */

  /* background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #ffb5b5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.ratingInput {
  width: 5em;
  text-align: center;
}

.listing-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8em;
  position: relative;
  height: 3.8em;
  width: 3.5em;
  aspect-ratio: 1 / 1;
  border: solid 1px var(--dk-grey);
  margin-right: 0.25em;
  background-color: azure;
}
.rm-padding {
  padding: 0;
}
.swatch-hint {
  text-align: end;
  font-size: 0.9em;
}
.inline-emph {
  display: inline;
  text-decoration: underline;
  font-weight: bold;
}
.listing-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-approval-container {
  max-width: 5em;
  max-height: 5em;
}
.popup-img-container {
  width: 100%;
  height: 80%;
}
.img-approval-container > img,
.popup-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rating-text-top {
  font-weight: bold;
  text-align: center;
  background-color: azure;
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: none;
}

.rating-text {
  font-weight: bold;
  /* color: linea; */
  text-align: center;
  /* background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #ffb5b5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

  background-color: azure;
  border-radius: 0 0 0.5em 0.5em;

  border-top: none;
}
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  margin: 0 2em 0 2em;
  text-align: center;
}
.my-rating {
  margin-top: 2em;
}
.my-rating-number {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #aaa;
  text-align: center;
}
.alternating-children:nth-child(odd) {
  background-color: #d7ecf1;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.rot-text-container {
  display: flex;
  justify-content: end;
}
.rot-text {
  transform: rotate(-60deg);
  transform-origin: left bottom;
}
.flag-status {
  margin-left: auto;
  display: flex;
  color: azure;
  text-shadow: #2c2c2c 1px 1px 0;
  /* padding: 0.2em; */
  height: 1.75em;
  border-radius: 0;
  width: 7em;
  align-items: center;
  justify-content: center;
}
.txt-col-header {
  width: 7em;
  text-align: center;
}
.text-sizebyqty-3 {
  width: 5em !important;
}
.text-sizebyqty-4 {
  width: 4em !important;
}
.flag-sizebyqty-3 {
  width: 5em !important;
}
.flag-sizebyqty-4 {
  width: 4em !important;
}
.status-tag {
  display: inline-block;
  color: azure;
  text-shadow: #2c2c2c 1px 1px 0;
  padding: 0.3em;
  border-radius: 0.25em;
}
.tag-grey {
  background-color: #b1b1b1;
}
.tag-found {
  background-color: forestgreen;
}
.tag-unknown {
  background-color: rgb(153, 12, 106);
}
.tag-nostatus,
.tag-none {
  background-color: rgb(71, 71, 71);
  color: #a0a0a0;
}
.tag-known {
  background-color: rgb(107, 131, 184);
}
.tag-other {
  background-color: rgb(48, 48, 48);
}
/* .tag-prototype {
  background-color: var(--lt-red);
} */
/* .tag-employee {
  background-color: gold;
} */
.tag-idOnly {
  background-color: #d6a82a;
}
/* .tag-nightshift {
  background-color: rgb(70, 15, 75);
} */
.tag-seen {
  background-color: rgb(231, 228, 7);
}
.tab-details > div {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* .tab-details> */
.status-date {
  margin-left: 0.3em;
  display: inline-block;
  color: #525252;
}
.text-black {
  color: #2c2c2c;
}

.colors-used {
  border: solid 1px var(--lt-grey);
  width: 25%;
  display: flex;
  justify-content: start;
  /* flex-wrap: wrap; */
  align-items: start;
  flex-direction: column;
  overflow-y: auto;
  height: 20em;
}
.colors-used > a {
  margin-bottom: 0.5em;
}
.fs-border {
  border: solid 1px var(--lt-grey);
}
.status {
  border: solid 1px var(--lt-grey);
  width: 25%;
}
fieldset > legend {
  color: #666;
}
.border-left {
  border-left: solid 1px var(--lt-grey);
}
.actions {
  list-style-type: none;
  margin: 0;
  padding: 0 1em;
}
.actions > li {
  padding-top: 0.2em;
}
.actions > span {
  color: #666;
}
.lower-center {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.color {
  font-size: 2rem;
}
.fake-hr {
  width: 100%;
  margin-top: 2em;
  border-bottom: solid 1px var(--lt-grey);
}
.fake-hr-80 {
  width: 80%;
  margin-bottom: 1em;
  border-bottom: solid 1px var(--lt-grey);
}
.fake-hr-form {
  width: 100%;
  margin: 1em 0;
  border-bottom: solid 1px var(--lt-grey);
}
.other-colors {
  border: solid 1px var(--lt-grey);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 50em;
}
.color-row {
  display: flex;
  align-items: baseline;
  width: 100%;
  /* height: 1.6em; */
  /* margin-bottom: 0.75em; */
}
.recentQPartStatus {
  position: absolute;
  width: 100%;
  font-size: 0.7em;
  padding: 0.1em 0;
  /* background-color: red; */
  color: white;
  height: 1.2em;
  bottom: 0;
  text-align: center;
  /* align-self: flex-end; */
}
.table-id {
  display: flex;
  padding-right: 0.2em;
  justify-content: end;
  width: 2em;
}
.flag {
  color: #fff;
  /* text-shadow: #5a5a5ab4 1px 0px 0, #5a5a5ab4 -1px 0px 0, #5a5a5ab4 0px -1px 0,
    #5a5a5ab4 0px 1px 0; */
  /* text-shadow: #2c2c2c 1px 1px 0; */
  font-weight: 300;
  padding: 0.15em 0.25em 0.15em 0.25em;
  display: block;
  border-radius: 0.2em;
  border: solid 0.5px rgba(41, 41, 41, 0.192);
}
.flag-fill {
  display: flex;
  align-items: center;
  height: 1.75em;
  padding: 0 0 0 0.25em;
  flex-grow: 1;
  border-radius: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.flag-unknown {
  background-color: rgb(255, 255, 173);
}
.flag-released {
  background-color: rgb(133, 133, 255);
}
.flag-pab {
  background-color: rgb(228, 203, 253);
}
#search-form {
  display: flex;
  justify-content: end;
  margin: 0.5em 0 0 0;
  /* position: relative; */
}

#searchbar {
  background-color: transparent;
  border-color: var(--lt-grey);
  border-radius: 20px;
  padding: 0 0.5em 0 0.5em;
}
.zen-search-icon {
  position: absolute;
  right: 1.5%;
  top: 17%;
}

.nav-pane {
  color: #666;
  list-style-type: none;
  padding: 0 1em 0 1em;
  border-left: solid 1px var(--lt-grey);
}
.nav-pane > li > ul {
  border-left: solid 1px var(--lt-grey);
  list-style-type: none;
  padding-left: 0.5em;
  margin-left: 0.5em;
}
.lower-container {
  display: flex;
}
.lower-center-left {
  padding: 0.5em;
  width: 60%;
}
.lower-center-right {
  width: 40%;
}
.bi-caret-down-fill {
  display: inline-block;
}
#searchbar-left {
  background-color: transparent;
  border-color: var(--lt-grey);
  width: 100%;
  margin: 0;
}
#search-form-left {
  display: flex;
  justify-content: end;
  position: relative;
}

.scatter-img {
  width: 80%;
}

.tab {
  overflow: hidden;
  background-color: transparent;
  border-radius: 0.5em 0.5em 0 0;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
}
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f1f1f1;
}
.tabcontent {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 0 0.5em 0.5em 0.5em;
  border: 1px solid #ccc;
  margin-right: 1em;
}

.expandabletextbox {
  /* padding: 0; */
  min-height: 3em;
  max-height: 200px;
  width: 90%;
  overflow: hidden;
  /* overflow-wrap: break-word; */
  resize: none;
}
.comment-btn {
  padding-top: 0.2em;
  max-height: 3em;
  /* width: 10%; */
  flex-grow: 1;
}
.pricehistory {
  align-items: center;
}
.tabhidden {
  display: none;
}
.comment-tab-content {
  max-height: 20em;
  overflow-y: auto;
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(145, 145, 145, 0.336);
  border-radius: 1em;
  min-width: 40em;
  max-width: 50em;
  overflow: hidden;
  /* padding: 1.5em; */
}
.profile-header {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 1.5em;
}
.profile-tab-content {
  margin: 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.profile-lower-container {
  width: 100%;
}
.comment-pic {
  aspect-ratio: 1 / 1;
  height: 3em;
  width: 3em;
  border-radius: 1.5em;
}
.pfp {
  aspect-ratio: 1 / 1;
  height: 7em;
  width: 7em;
  border-radius: 3.5em;
  border: solid 1px var(--lt-grey);
}
.profile-name {
  font-size: 3em;
  font-weight: 200;
}
.p-rel {
  position: relative;
}
.custom-select {
  border: solid 1px var(--dk-grey);
  border-radius: 0.25em;
  padding-left: 0.25em;
  padding-right: 1.5em;
}
.custom-select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.title-green {
  color: #00ff73;
  font-weight: 600;
}

.title-red {
  color: #ff0000;
  font-weight: 600;
}

.title-cyan-fade {
  background-image: linear-gradient(to top, black, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.profile-overview {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}
.profile-overview > span {
  margin-bottom: 0.75em;
}
.commenttab {
  padding: 1em;
}
.commentInput {
  width: 90%;
  min-height: 2em;
}
.comment {
  position: relative;
  display: flex;
  /* width: 97.75%; */
  width: 100%;
  padding: 0.5em;
  border-bottom: solid 1px var(--lt-grey);
}
.comment-username {
  font-weight: 600;
  padding-bottom: 0.25em;
}
.comment-body {
  font-weight: 300;
  width: 30em;
  overflow-wrap: break-word;
}
.comment-content {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
}
.comment-icon {
  padding-left: 1em;
}
.comment-link {
  font-weight: 600;
  color: black;
}
.comment-edit {
  width: 100%;

  margin-bottom: 2em;
}
.smalldate {
  color: #808080;
  font-size: small;
  margin-left: 1em;
}
.pseudo-input-container {
  position: relative;
  display: flex;
  /* align-items: start;
  justify-content: start; */

  width: 100%;
}
.pseudo-input {
  flex-grow: 1;
  background-color: white;
  border: solid 1px var(--dk-grey);
  border-radius: 3px;
  padding: 4px;
  margin: 0;
}
.pseudo-placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  padding: 4px;
  color: var(--md-grey);
}

.not-approved {
  background-color: var(--lt-red);
}
.admin-image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.admin-image-card {
  /* overflow-y: auto; */
  max-height: 12em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  padding-bottom: 0;
  width: 10em;
  flex-basis: 33.33%;
}
.admin-image-card > div {
  border: solid 1px var(--lt-grey);
  border-radius: 0.5em;
  margin: 0.5em;
  /* margin-bottom: ; */
  padding: 0.25em;
}
.admin-image-div {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.25em;
  height: 6em;
  width: 100%;
  border: solid 1px var(--lt-grey);
  border-radius: 0.5em;
}
.admin-image-div img {
  height: 100%;
  width: auto;
}
.primary-image-tag {
  background-color: #00ff73;
}
.italic {
  font-style: italic;
}
.jumbotron {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 30em;
  aspect-ratio: 18 / 6;
  background-color: #444;
}
.welcome {
  font-size: 2.5em;
  color: var(--lt-grey);
}
.welcome-logo {
  margin-bottom: 1.5em;
}
.welcome-logo > div {
  font-size: 3.5em;
}

.jumbo-btn {
  position: absolute;
  background-color: transparent;
  padding: 1em;
  bottom: 0;
  right: 0;
  color: white;
  border-top: none;
  border-bottom: 75px solid var(--lt-red);
  border-left: 35px solid transparent;
  border-right: none;
  width: 15em;
}
.jumbo-btn > div {
  position: absolute;
  bottom: -50px;
  left: 0;
}

.jumbo-btn > div > span {
  position: absolute;
  padding-left: 1em;
  display: inline-block;
  transform: scale(1, 2);
  -webkit-transform: scale(1, 3);
  -moz-transform: scale(1, 3);
  -o-transform: scale(1, 3);
  transform-origin: 0% 70%;
}
.noflex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hp-panel-center {
  border-left: solid 1px var(--lt-grey);
  border-right: solid 1px var(--lt-grey);
}

.hp-panel-header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 90%;
}
.hp-panel-header-text {
  /* text-align: center; */
  display: inline-block;
  padding: 0.25em;
  border: solid 1px #666;
}
.head-line {
  height: 50%;
  /* width: 33%; */
  flex-grow: 1;
  display: inline-block;
  border-bottom: solid 1px #666;
}
.hp-panel-body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 90%;
  height: 100%;
}
/* .hp-panel-body > div {
  min-height: unset;
  margin-bottom: -1px;
} */

.trash-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  z-index: 3;
}

.rib-container > div {
  min-height: unset;
  margin-bottom: -1px;
}

.rib-container3 {
  position: relative;
}

.rib-container3 > div {
  min-height: unset;
  margin-bottom: -0.5px;
}
.rib-container2 > div {
  min-height: unset;
  min-width: 49%;
  /* margin: 0 auto; */
  margin-bottom: -1px;
}

.rib-container2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fg-child > div {
  flex-grow: 1;
}

.topfive-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.bi-x {
  position: relative;
  z-index: 10;
}
.white-fill {
  position: absolute;
  top: 1px;
  right: 1px;
  background: white;
  padding: 11px;
  border-radius: 50%;
  z-index: 1;
}
.topfive-card {
  background-color: azure;
  filter: drop-shadow(0px 0px 3px #00000050);
  margin: auto;
  width: 19%;
  aspect-ratio: 3 / 4;
  border: solid 4px;
  border-radius: 0.5em;
}
.topfive-card > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topfive-img-container {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  border: solid 1px var(--lt-grey);
  width: 90%;
  max-height: 50%;
  aspect-ratio: 4 / 3;
}
.topfive-img-container > img {
  width: 100%;
  height: 100%;
  padding: 0.25em;
  object-fit: contain;
}
.topfive-hr {
  margin: 0.25em 0;
  width: 75%;
  border-top: solid 1px var(--lt-grey);
}

.topfive-tier {
  padding: 0 0.25em;
  border-radius: 0.25em;
  width: 95%;
  margin-bottom: 0.25em;
  text-align: center;
}
.topfive-body {
  flex-grow: 1;
  width: 100%;
  padding-left: 1em;
  padding-top: 0.25em;
}
.topfive-body-2 {
  font-size: 0.75em;
}
.tt-list {
  padding-left: 1em;
}
.tt-list > li {
  margin: 0.5em 0;
  list-style-type: disc;
}
.tt-list > li > span {
  text-decoration: underline;
  font-weight: bold;
}
.mytooltip {
  display: inline-block;
  text-align: center;
  margin-left: 0.2em;
  color: var(--lt-grey);
  background-color: var(--dk-grey);
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
}
.coldeet {
  width: 100%;
  border: solid 1px var(--dk-grey);
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.coldeet > div {
  display: flex;
  justify-content: space-between;
}
.coldeet > button {
  float: right;
}
.wrapbreak {
  word-wrap: break-word;
}
.col-guide {
  display: flex;
  /* justify-content: end; */
}
.col-guide > div:first-child {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  color: #aaa;
  font-weight: 200;
}
.grey-txt {
  color: #aaa;
  font-weight: 200;
}
.col-guide > div,
.col-guide-profile > div {
  width: 3em;
  display: flex;
  justify-content: center;
}
.col-part-body {
  width: 9em;
  display: flex;
}
.col-part-body > div {
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lt-grey-txt {
  color: var(--lt-grey);
}
.listing {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  max-height: 5em;
  border: solid 1px #ccc;
  /* aspect-ratio: 16 / 4; */
  padding: 0.75em;
}
.listing-color {
  display: flex;
  align-items: center;
}
.listing-color-swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: solid 1px var(--dk-grey);
  margin-right: 0.2em;
}

.my-ribbon {
  background-color: var(--lt-red);
}
.link:link,
.link:visited {
  /* color: #fff; */
  text-decoration: none;
  /* color: inherit; */
}

.hexbar {
  display: inline-block;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0.5em;
  text-shadow: #2c2c2c 1px 1px 0;
  border-radius: 0.25em;
  font-size: 1.5em;
  border: solid 1px #eee;
  /* box-shadow: 5px 5px 5px -6px rgba(0, 0, 0, 0.75); */
  /* height: 2em; */
}
.colorTop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2em;
}
.colorName {
  font-size: 3em;
}
.simBanner {
  background-color: #ffe77b;
  border: solid 1px #7e6b19;
  display: flex;
  justify-content: end;
  align-items: baseline;
  padding: 0.1em 0.2em;
  margin-bottom: 1em;
}
.simBannerText {
  color: #7e6b19;
  flex-grow: 1;
}
.flag-spacer {
  margin-right: 0.2em;
}
.colorRow {
  width: 100%;
  padding: 0.1em;
}
.color-table > tr:nth-child(even) {
  border: none;
  background-color: #bdd4df70;
}
.color-table {
  table-layout: fixed;
  width: 100%;
  /* border: 1px solid; */
  border-collapse: collapse;
}
/* .color-table > tr > td {
  border: solid 1px #000000;

} */

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.md-grey-text {
  color: #525252;
}
.square {
  aspect-ratio: 1 / 1;
}

.h100 {
  height: 100%;
}
.swatch-header {
  min-width: 1.5em;
}
.color-table-container {
  margin: 0 0;
}
@media only screen and (min-width: 1600px) {
  .color-table-container {
    margin: 0 15%;
  }
}
td {
  overflow: hidden;
  white-space: nowrap;
}
.table-notes {
  /* overflow: hidden; */
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 0.8em;
}

.border-top {
  border-top: solid 1px black;
}
.border-bottom {
  border-bottom: solid 1px black;
}
.border-right {
  border-right: solid 1px rgba(0, 0, 0, 0.26);
}
.border-right-soft {
  border-right: dashed 1px #2b2b2b63;
}
.border-all {
  border: solid 1px rgba(0, 0, 0, 0.801);
}
.text-center {
  text-align: center;
}
.flex-text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-shade-red {
  background-color: #ff000009;
}
.cell-shade-yellow {
  background-color: #ffee0009;
}
.cell-shade-blue {
  background-color: #00b7ff09;
}
.pr-sm {
  padding-right: 0.1em;
}
.pl-sm {
  padding-left: 0.3em;
}
.transparent {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0%,
    #fff 1px,
    transparent 0% 5px,
    #fff 1px
  );
  background-repeat: repeat;
}
.glitter {
  background-image: radial-gradient(#ffffff 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);

  background-position: 0 0, 30px 30px;
  background-size: 5px 5px;
}
.satin {
  position: relative; /* Ensure pseudo-element is positioned relative to this */
  background-image: 
  /* radial-gradient(#2500cc42 20%, transparent 20%),
    radial-gradient(#ffffff57 20%, transparent 20%), */ radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(167, 97, 143, 0.521) 100%
  );

  /* background-position: 0 0, 30px 30px, center center; 
  background-size: 5px 5px, 5px 5px, cover; */
}

/* .satin {
  background-image: linear-gradient(transparent 50%, #00000050);
  position: relative;
  z-index: 0;
}

.satin:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: inherit;
  transform: rotate(-90deg);
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%
  );
}
.satin:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: linear-gradient(#00000050, transparent 50%);
  transform: rotate(90deg); 
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%
  ); 
} */

.pearl {
  background-image: url(/img/swirl.png);
}

.chrome {
  background-image: linear-gradient(360deg, transparent 50%, #fff);
}

.speckle {
  background-image: radial-gradient(#000, transparent 20%),
    radial-gradient(#000, transparent 20%);

  background-position: 0 0, 30px 30px;
  background-size: 8px 8px;
}
.temp-footer {
  margin-bottom: 10em;
}
.color-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.color-container > section {
  width: 50%;
  padding: 1em;
}
.color-details-container {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1em; */
}

.color-details-banner {
  width: 100%;
  text-align: center;
  background-color: rgb(50, 54, 61);
  color: var(--lt-grey);
}
.color-detail-header {
  text-align: center;
  width: 90%;
  border-bottom: solid 1px #aaa;
  border-top: solid 1px #aaa;
}
.color-subdetails-id {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.color-subdetails-id > div {
  /* min-width: 25%; */
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em 0;
  /* border: solid 1px #eee; */
}
.color-id {
  position: relative;
  font-size: 2em;
  /* border-bottom: solid 1px #eee; */
}
.color-id:after {
  content: "";
  background: #eee;
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 1px;
  width: 50%;
}
#partname {
  margin-left: 1em;
}
.white-text {
  color: #eee !important;
}

@media (max-width: 1359px) {
  .mx-w {
    max-width: 90vw;
    margin: 0 5vw;
  }
}
@media (min-width: 1360px) {
  .mx-w {
    max-width: 85rem;
    margin: 0 calc((100vw - 85rem) / 2);
  }
}
.fx-w {
  width: 85rem;
}
textarea {
  resize: none;
}
.no-margin-children > * {
  margin: 0;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.3%;
}
.w-35 {
  width: 35%;
}
.w-50 {
  width: 50%;
}
.w-80 {
  width: 100%;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.my-1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.my-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-1 {
  padding: 0.5em;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: start;
}
.ai-end {
  align-items: end;
}
.ai-base {
  align-items: baseline;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: start;
}
.jc-end {
  justify-content: end;
}
.jc-space-a {
  justify-content: space-around;
}
.jc-space-b {
  justify-content: space-between;
}
.jc-space-e {
  justify-content: space-evenly;
}
.hyperlink {
  text-decoration: underline !important;
  color: var(--lt-red) !important;
}
.hyperlink:visited {
  text-decoration: underline !important;
  color: var(--lt-red) !important;
}
.suggestion-list {
  list-style: none;
  padding: 0;
  margin: 0;
  left: -3.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  z-index: 1000; /* Set a high z-index to make sure it appears over other elements */
  width: 20em;
  max-height: 15em;
  overflow-y: auto;
}

.suggestion-list li {
  display: flex;
  height: 22px;
  padding: 2px 8px;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
}
.suggestion-list li > div:first-child {
  min-width: 1.6em;
  max-width: 1.6em;
  text-align: right;
  margin-right: 0.2em;
}

.suggestion-list li > div:nth-child(2) {
  margin-right: 0.5em;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
}
.button-spacer {
  display: inline-block;
  width: 2em;
  text-align: center;
  color: #98acb8;
}
.col-det-name {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
  width: 17%;
  text-align: right;
  /* margin-right: 0.25em; */
  padding-right: 0.25em;
  /* margin: 0.25em 0.5em 0.25em 0; */
}
.thick-check {
  width: 3em;
}
.align-center {
  align-items: center;
}
.col-det-colname {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
  width: 83%;
  padding-left: 0.25em;
  border-left: solid 1px #eee;
}
.col-det-note {
  width: 90%;
  padding: 1em 0;
}
.edit-id-input {
  height: 2em;
  width: 4em;
  font-size: 1.3em;
  text-align: center;
  margin: auto;
}
.edit-note {
  width: 90%;
  margin-bottom: 1em;
  height: 10em;
  resize: none;
}
.edit-save {
  margin-top: 1em;
}
/* .my-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
} */

.showHEX {
  display: inline-block;

  /* margin-left: ; */
  width: 1.65em;
  height: 1.65em;
  /* padding: ; */
  /* aspect-ratio: 1 / 1; */
  border: solid 1px var(--dk-grey);
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.showHEX2 {
  display: inline-block;

  /* margin-left: ; */
  width: 1.65em;
  height: 1.65em;
  /* padding: ; */
  /* aspect-ratio: 1 / 1; */
  border: solid 1px var(--dk-grey);
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.uppercase {
  text-transform: uppercase;
}
.edit-hex {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: #2c2c2c 1px 1px 0;
  font-size: 1.5em;
  width: 4.5em;
  background-color: #ffffff54;
  border-radius: 0.2em;
  border: solid 1px;
}
.edit-similarity {
  width: 100%;
  display: flex;
  justify-content: end;
  /* align-items: start; */
  margin-bottom: 1em;
}

.mainform {
  /* background-color: rgb(228, 253, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(145, 145, 145, 0.336);
  border-radius: 1em;
  min-width: 40em;
  max-width: 50em;
  padding: 3em 3em 1em 3em;
}
.mainformwide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(145, 145, 145, 0.336);
  border-radius: 1em;
  min-width: 50em;
  max-width: 70em;
  padding: 3em 3em 1em 3em;
}
.secondaryform {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  /* flex-grow: 1; */
  border: solid 1px rgba(145, 145, 145, 0.336);
  border-radius: 1em;
  width: 100%;
  padding: 1em;
  /* margin: 0.5em; */
}

.mainform-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(145, 145, 145, 0.336);
  border-radius: 1em;
  min-width: 40em;
  width: 100em;
  max-width: 80%;
  padding: 3em 3em 1em 3em;
}
.mainform > input {
  width: 100%;
  margin-bottom: 2em;
  padding: 0.25em;
}
.formInput {
  margin-bottom: 2em;
  padding: 0.25em;
}
.formInputNM {
  padding: 0.25em;
}
.mainform > button {
  padding: 0.25em 0.75em;
  margin-bottom: 2em;
  align-self: flex-end;
}
.mainform > a {
  font-size: 0.8em;
}
.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}
#partnote {
  margin: 0;
}

#root-wrapper {
  min-height: calc(100vh - 10em - 4rem);
}

/*  */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.img-part {
  background-color: rgb(0, 204, 255);
}
.img-damaged {
  background-color: var(--lt-red);
}
.img-sculpture {
  background-color: #e9cf5e;
}
.img-supplemental {
  background-color: #888888;
}
.img-other {
  background-color: #914a91;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--sft-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--sft-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*  */
.goal-body {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--lt-grey);
  margin: 0.2em;
  /* padding: 0.2em; */
  border-radius: 0.5em;
  height: 20em;
  width: 22em;
}
.goal-body-colors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow-y: auto;
}
.goal-meter-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 1.5em;
  min-height: 1.5em;
  border-top: solid 1px var(--lt-grey);
  /* #1b5c46; */
  border-radius: 3px;
  /* background-color: #000; */
}
.goal-percentage {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #1b5c46;
}
.goal-meter {
  background-color: #4affc3;
}

.goal-color-check {
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 0.8em; */
  /* position: relative; */
  height: 3.5em;
  width: 3.5em;
  aspect-ratio: 1 / 1;

  /* border: solid 1px var(--dk-grey); */
}
.goal-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goal-item {
  display: flex;
  /* z-index: -1; */
  border-bottom: solid 1px var(--lt-grey);
  width: 100%;
  /* margin-bottom: -1px; */
}
.goal-item > div {
  color: var(--dk-grey);
}
.goal-color-swatch {
  margin-right: 0.25em;
  border-right: solid 1px var(--lt-grey);
  width: 0.5em;
}
.goal-not-owned {
  filter: grayscale(100%);
}
.goal-check {
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-true {
  background-color: var(--toastify-color-success);
}
.check-false {
  background-color: var(--lt-red);
}

.collection-item {
  display: flex;

  border: solid 1px var(--lt-grey);
  margin-bottom: -1px;
  width: 100%;
}
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close {
  position: absolute;
  right: 1em;
  z-index: 10;
  width: 1.5em;
  background: none;
  border: none;
  color: var(--dk-grey);
  /* width: 100%; */
  cursor: pointer;
  text-align: end;
  font-size: larger;
}
.popup-inner-body {
  height: 90%;
  display: flex;
  justify-content: center;

  flex-direction: column;
}
.popup-inner-body-top {
  height: 90%;
  display: flex;
  padding-top: 2em;
  /* justify-content: center; */
  flex-direction: column;
}
.popup-body {
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: 15%;
  top: 15%;
  min-height: 32em;
  padding: 1em;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: azure;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.popup-body-large {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
  top: 10%;
  padding: 1em;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: azure;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eid-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.eid-row > div:first-child {
  width: 50%;
}

.lt-black {
  color: #969696;
}
.grid-container-image {
  display: grid;
  grid-template-columns: 0.8fr 0.7fr 1.2fr 1fr 1.2fr 0.5fr 1.2fr;
  align-items: center;
  /* grid-template-rows: auto 100px auto auto auto auto auto; */
}
.footer-container {
  height: 10em;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dk-grey);
  color: var(--lt-grey);
  /* background-color: red; */
}
.footer-bottom {
  color: var(--lt-grey);
  flex-grow: 1;
  width: 100%;
  /* background-color: greenyellow; */
}
.footer-top {
  display: flex;

  height: 60%;
  width: 100%;
  padding-bottom: 1em;
  /* background-color: purple; */
  border-bottom: solid 1px var(--lt-grey);
}
.footer-top-left {
  color: var(--lt-grey);
  padding: 0.5em;
  padding-bottom: 0;
  height: 100%;
  width: 50%;
  border-right: solid 1px var(--lt-grey);
  /* background-color: blue; */
}
.footer-top-right {
  color: var(--lt-grey);
  padding: 0.5em;
  padding-bottom: 0;
  height: 100%;
  width: 50%;

  /* background-color: pink; */
}
.footer-horz-ul > li {
  display: inline-block;
  margin: 1em;
}

.status-compare {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 0 8em 2em 8em;
}
.pass-req {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
#password-reg,
#repassword-reg {
  margin: 0;
}
.imageAdjustSliderContainer {
  width: 100%;
  padding: 0 5%;
}
.imageAdjustSlider {
  width: 100% !important;
}
.image-adj-container {
  display: flex;
  height: 50em;
}
.reg-dropdown {
  width: 100%;
  padding: 0.25em 0;
  margin-bottom: 1em;
}
.mainform > p {
  align-self: flex-start;
}
.navbarProfileImg {
  padding: 0.9em 0;
  background: none;
  border: none;
}
.nav-pop-down-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 1.5em);
  margin-left: 0.25em;
  padding-left: 0.5em;
  border-left: solid 1px var(--lt-grey);
}
.nav-pop-down-ul > li {
  margin-bottom: 0.2em;
}
.nav-pop-down {
  padding: 0.5em 0;
  z-index: 1;
  position: absolute;
  display: flex;
  background-color: #eeeeee;
  height: 14em;
  top: 4rem;
  right: 0;
  border-bottom: solid 1px #525252;
  border-left: solid 1px #525252;
}
.nav-pop-down > div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1em;
}
.nav-pop-down > div {
  border-right: solid 1px var(--lt-grey);
}
.hidden {
  display: none;
}
.notclickable {
  cursor: default;
}
.clickable {
  cursor: pointer;
}
.page-wrapper {
  width: 100%;
  height: 100%;
  padding: 5%;
}
.message-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: rgb(234, 240, 240);
  border: solid 1px var(--dk-grey);
  height: 100%;
  border-radius: 0 1em 1em 1em;
}
.msg-tab-container {
  display: flex;
}
.msg-tab {
  padding: 0.5em;
  background-color: #d0dfde;
  border-radius: 0.5em 0.5em 0 0;
  margin-bottom: -1px;
  border-bottom: solid 1px var(--dk-grey);
}

.msg-tab-active {
  background-color: rgb(234, 240, 240);
  border: solid 1px var(--dk-grey);
  border-bottom: none;
}
.msg {
  display: flex;
  padding: 0.5em;
  width: 100%;
  border-bottom: solid 1px #cfcfcf;
}
.msg > div {
  margin-left: 1em;
}
.lt-red {
  color: var(--lt-red);
  fill: var(--lt-red);
}
.fg-1 {
  flex-grow: 1;
}
.msg-send-new {
  display: flex;
  flex-direction: column;
}
.msg-send-new > textarea {
  resize: none;
}
.bad-recipient {
  border-color: red;
  color: red;
}
.msg-unread {
  font-weight: bold;
}
.login-btn {
  margin-right: 1em;
  padding: 0.25em 0.75em;
  background: none;
  border: solid 2px var(--lt-grey);
  color: var(--lt-grey);
  border-radius: 0.5em;
  transition: all 0.5s;
}
.login-btn:hover {
  color: var(--lt-red);
  border-color: var(--lt-red);
}

.profile-button {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 20%;
  border: solid 2px var(--lt-grey);
  border-radius: 0.5em;
  padding-bottom: 1.5em;
  /* background-color: rgb(255, 255, 255); */
  /* filter: drop-shadow(2px 2px 4px #0000002f); */
  /* margin: 1em; */
}
.profile-btn-container {
  display: flex;
  justify-content: space-evenly;
  /* height: 10em; */
}
.profile-btn-img-container {
  width: 90%;
}
.profile-btn-img-container > img {
  width: 100%;
}
.color-wheel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.11em 0.5em;
  border: solid 2px var(--lt-grey);
  border-radius: 0.5em;
  z-index: 10;
  margin-right: 0.25em;
  transition: border-color 1s;
}
.color-wheel > div {
  color: var(--lt-grey);
  transition: color 1s;
}

.color-wheel::before {
  position: absolute;
  content: "";
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 0.5em;
  background: linear-gradient(
    124deg,
    #ff8c7a,
    #e9b36d,
    #fcfd9b,
    #9fffaf,
    #76f8ff,
    #9790ff,
    #be6eff,
    #f589ff,
    #be6eff,
    #9790ff,
    #76f8ff,
    #9fffaf,
    #fcfd9b,
    #e9b36d,
    #ff8c7a
  );
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.color-wheel:hover::before {
  opacity: 1;
}

.color-wheel:hover {
  border-color: transparent;
  > div {
    color: var(--dk-grey);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  100% {
    background-position: 100% 19%;
  }
}
.parts-view {
  display: flex;
  flex-direction: column;
}
.parts-view > a {
  margin: 0.25em 0;
}
#imageAdjustForm {
  width: 80%;
  max-width: unset;
  padding-bottom: 10em;
}
.center-text {
  text-align: center;
  /* width: 7em;
  align-self: center; */
  margin-top: 1em;
}
@media (width >= 1000px) {
  .hp-low-container {
    display: flex;
    height: 37em;
    width: 100%;
    min-width: 40em;
    justify-content: center;
  }

  .hp-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    max-width: 30rem;
    aspect-ratio: 3 / 4;
    padding: 1em;
  }
}
@media (width < 1000px) {
  * {
    font-size: 3vw;
  }
  body,
  html {
    overflow-x: hidden;
  }

  .hp-low-container {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    width: 100%;
    /* min-width: 40em; */
    justify-content: center;
  }
  .hp-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    /* aspect-ratio: 3 / 4; */
    padding: 1em;
  }
  .hp-panel-center {
    border-left: none;
    border-right: none;
  }
  .navbar > .text-logo > div > span {
    font-size: 1em;
  }
  .text-logo > div > span {
    font-size: 10vw;
  }
  .welcome-logo > div {
    font-size: unset;
  }
  .welcome {
    font-size: 3vw;
  }
  .main-searchbar {
    width: 100%;
    font-size: 2vw;
  }
  .nav-end > a > div {
    font-size: 1.5vw;
  }
  .nav-end > a {
    padding-left: 0.75vw;
    padding-right: 0.75vw;
  }
  .navbarProfileImg {
    width: 8.5vw;
  }
  .profile-img {
    width: 6vw;
  }
  .jumbo-btn {
    width: 13em;
  }
  .footer-container {
    font-size: 4vw;
  }
  .footer-horz-ul > li > a {
    font-size: 2vw;
  }
  .footer-bottom {
    font-size: 2vw;
  }
  .mx-w {
    margin: 0;
    max-width: 100vw;
  }
  .page-content-wide {
    margin-top: 0;
  }
  .right-col {
    padding: 2vw;
  }
  .element-name {
    font-size: 5vw;
  }
  .qpart-color-dropdown,
  .qpart-dropdown-btn,
  .element-image {
    width: 100%;
  }
  .lower-container {
    flex-direction: column;
  }
  .lower-container > div {
    width: 100%;
  }
  .center {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rating-container {
    padding-top: 1em;
    padding-bottom: 1em;

    margin-top: 1em;
  }
  .my-rating {
    margin: 0;
  }
  .qpart-dropdown {
    width: 95.75%;
  }

  .status {
    margin-top: 1em;

    width: 100%;
  }

  .popup-container {
    max-width: 100vw;
    max-height: 100vh;
  }
  .popup-body {
    left: 10%;
    right: 10%;
    bottom: 20%;
    top: 20%;
  }
  .mail-svg > div > svg {
    width: 5vw;
  }
}

/* @media screen and (width < 1000px) {
  .custom-toast {

    top: auto !important;
    bottom: 20px !important; 
     left: 50% !important;
    transform: translateX(-50%) !important;
  }
} */
